*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

header { 
    width: 100%; 
    display: block; 
    background-color: black;
    overflow: hidden;
} 

.steelersLogo{ 
    width: 200px; 
    margin: 0 auto; 
    display: block;
    clear: left;
  
}


nav ul{ 
    display: block;
    float: left; 
    clear: right;
    margin-bottom: 10px; 
    margin-left: 10px; 
    line-height: 30px; 
    font-size: 1em; 
    color: yellow; 
    font-weight: 200; 
}

nav li{ 
   
    float: left; 
    margin-right: 15px; 
    margin-right: 10px; 
    list-style-type: none; 
    
}

nav a{ 
    text-decoration: none; 
    color: yellow; 
    font-weight: 200; 
} 

.placeName{ 
    border-right: 1px solid yellow;
    margin-right: 10px;
    padding-right: 10px;
} 

/* START OF MENU CSS */
form{ 
    width: 950px; 
    margin: 0 auto; 
    overflow: hidden;
    margin-top: 10px;
}

fieldset{ 
    width: 500px;
    background: grey; 
    padding: 20px;
}

.menuImage{ 
    width: 300px;
    border: 1px solid black;
    box-shadow: 1px 2px; 
} 

#logo { 
    width: 150px; 
    display: block; 
    margin: 0 auto; 
} 

.menu-images{ 
    width: 250px;
    margin-bottom: 10px;
    margin-top: 5px; 
}

.divs{ 
    width: 300px; 
    height: 350px;
    
    display: block; 
    border: 2px solid black;
    padding: 20px; 
    display: block;
    margin: 0 auto; 
    margin-left: 10px; 
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    
} 

